/*  common.css */
#wrap{  margin: auto;  width: 100%;min-height: 10rem;  height: auto;}
#headBox{ position: fixed; z-index: 300; width: 100%; height: 130px; box-sizing: border-box; background-color: rgba(255,255,255,0.5);transition:all 500ms ease }
#headBox:hover{  background-color: rgba(255, 255, 255, 1); }
.container{ margin: auto; width:100%; height: auto; padding-top: 10px;box-sizing: border-box; }
.container>h1{ position: absolute; left:50%; top:50%;z-index: 600; margin-left: /* 117px */ -24.38vw; width: /* 234px */ 48.75vw; height: /*65px*/ 6.04vw ; background-image: url("../../../img/sectBox1366/headBox_logo.png");background-repeat: no-repeat;background-size:100% auto ;  transform: translateY(-50%) translateZ(0);transition:all 500ms ease}
h1>a{display: block; width: 100%;height: 100%;}


 
#navBox{position: relative; top: 0; left:0;  width:  40px  ; height:  40px  ;  }
.t_menu{position: absolute; top: 0; left: 0;  z-index: 300; display: block; width: 100%;height: 100%;  transform: translateY(-50%); }
.t_menu span{position: absolute;top:100%;left: 0; display: block; width: 100%;height: 6px;background-color: rgba(20,64,139,1); transform: translateY(-50%);}
.t_menu span:before,
.t_menu span:after{content: " ";position: absolute;left: 0;top: 0; width: 40px;height: 6px;background-color: rgba(20,64,139,1);}
.t_menu span:before{top:-10px;transition:all 500ms ease}
.t_menu span:after{top: 10px;transition:all 500ms ease}
.t_menu:hover span:before{top:-13px; }
.t_menu:hover span:after{top:13px;}
/*#navBox:hover .gnb{display: block;}*/
 

.gnb{position: absolute; top: 0; left:-240px;z-index: 800;  float:left; width: 240px; height: auto;transition:all 500ms ease}

.gnb_lnb{  width: 100%;height: auto; font-size:12pt;}
.gnb_lnb li{padding: 0.5rem; box-sizing: border-box; width: 100%;height: auto;}

.gnb_mu{ width:100%;height:auto;  }
.gnb_mu>li{ height:auto; line-height: 35px;   }
.gnb_mu>li>a{display: block; width: 100%; height: 100%; font-size: 16px; }
.gnb .second_mu{display: none; width: 100%; height: auto; background-color: #16428c;}





.close_btn{position: absolute; top:10px; right: 10px;z-index: 2000;width: 38px;height: 37px;  background-image: url("../../../img/sectBox480/main/close.png");background-repeat: no-repeat;}
.close_btn>button{width: 100%;height: 100%;} 


  /*#serBox{float:right; width: 8.33vw; min-width: 28px;height:  8.33vw ;font-size:12pt; background-image: url("../../../img/headBox/headBox_search.png"); background-repeat: no-repeat;background-size:100% auto ; cursor: pointer;}
*/

#sectBox01{width: 100%; height: 600px; box-sizing: border-box; background-color: #ffedca;}
  .seBox01{position: relative; width:100%; height: 100%; }
   /* section01_indeicator */
  .se01_indicator{position: absolute; z-index: 200; left:50%; margin-left:-115.5px; bottom: 17px; width:231px; height: 26px;/* background-color: #edb29d;*/}
  .se01_indicator>ul{margin: auto; width: 100%;height: 100%;}
  .se01_indicator>ul>li{float:left; margin-right:15px;width: 26px;height: 26px; }
  .se01_indicator>ul>li:last-child{margin-right:0;}
  .se01_indicator>ul>li>a{display: block; width: 100%;height: 100%; border-radius: 50% ;background-color: #fff;}
  .se01_indicator>ul>li>a:hover,
  .se01_indicator>ul>li>a:focus{background-color: #333;}
  .se01_indicator>ul>li.action>a{background-color: #333;}
  
  /*  se01_btn  */
  .se01_btn{position: absolute;z-index: 100; top:50%; left:0; width: 100%;height: 0;}
  .se01_btn>.btn{margin-top:-18.5px;width:37px; height: 37px ;float: right;color:#fff; font-size: 32pt;}
  .se01_btn>.btn:nth-of-type(2){float:left;}
  .se01_btn>.btn:hover,
  .se01_btn>.btn:focus{color:#333;}
  
  /* se01_banner*/
  .se01_banner{width: 100%;height: 100%; overflow: hidden; }
  .se01_banner_outer{width: 600%;height: 100%;background-color: #000;}
  .se01_banner_outer>div{ float: left; width: 16.666667%; height: 100%;}
  .se01_banner_outer>.se01_ti{padding: 20px; box-sizing: border-box;width: 16.666667%; height: 100%;}
  .se01_banner_01{background-image:url("../../../img/sectBox01/sectBox01_bg.png"); background-repeat: no-repeat;}
  .se01_banner h3{font-size: 40pt;color: #fff; text-align: center;margin-top: 60%;}
  .se01_banner p{font-size:20pt;color: #fff; text-align: center;}

  .se01_banner_02{background-image: #2f4;}
  .se01_banner_03{background-image: #3c3;}
  .se01_banner_04{background-image: #4f2;}
  .se01_banner_05{background-image: #f51;}
  .se01_banner_06{background-image: #f50;}

#sectBox02{width: 100%; height:auto ; box-sizing: border-box; background-color: #fff;}
 
  .hoBox02>div{width: 100%; height:100%; text-align: center; }
  .ho_ti{padding-top: 30px; box-sizing: border-box;  width: 100%;height: 134px; font-size: 22pt; font-weight: bold; text-align: center;background-image: url("../../../img/sectBox768/sectBox02_txt.png"); background-repeat: no-repeat; }
  .ho_ti>span{font-size: 12pt;font-weight: normal;text-align: center;}
  .ho_bg{width: 100%;height: 307px;background-image: url("../../../img/sectBox768/sectBox02_con01.png"); background-repeat: no-repeat;}

#sectBox03{width: 100%; height: 620px ; box-sizing: border-box; background-color: #fff8ed;}

  .proBox03{position: relative;height: auto; } 
  .pro_ti{padding-top: 30px; box-sizing: border-box; width: 100%; height: 134px; background-image: url("../../../img/sectBox480/sectBox03_tit01.png");background-repeat: no-repeat;
  background-size:auto; font-size: 22pt; font-weight: bold; text-align: center; }
  .pro_ti span{font-size: 12pt;font-weight: normal;text-align: center;}
 
  .pro_btn{position: absolute; left:50%; margin-left:-96px; bottom:0px;  width: 196px;height:0;background-color: #d8d89a;}
  .pro_btn>.btn{ float:right; width: 60px; height: 60px; font-size: 30pt;}
  .pro_btn>.btn:nth-of-type(2){float:left;}



  .pro_bg{width: 100%; height: 368px;background-color: #fff8ed;}
  
  .pro_bg>ul>li{float: left; display: block; width: 33.33%;height: 368px; border-right:1px solid #fff; box-sizing: border-box;/*background-image: url("../../../img/sectBox480/sectBox03_bg.png");background-repeat: no-repeat;background-size:100% auto;*/}

 /*  제품  전체 이미지  가로 100% */
.pro_bg>ul>li:nth-child(1){  background-image: url("../../../img/sectBox480/sectBox03_npro01.png"); background-repeat: no-repeat;background-position: 50%;}

.pro_bg>ul>li:nth-child(2){  background-image: url("../../../img/sectBox480/sectBox03_npro01.png"); background-repeat: no-repeat;background-position: 50%;}

.pro_bg>ul>li:nth-child(3){/*width: 100%; */ background-image: url("../../../img/sectBox480/sectBox03_npro01.png"); background-repeat: no-repeat;background-position: 50%;}
/*   제품 전체 이미지 끝 */




  .pro_bg>ul>li:nth-child(1)> .pro_new{ margin: auto; width: 70%;height:21px;}
  .pro_bg>ul>li:nth-child(1)>div>.pro_nicon01{display:inline-block; width: 21px;height: 21px; background-image: url("../../../img/sectBox480/sectBox03_crown.png");  background-repeat: no-repeat; }
  .pro_bg>ul>li:nth-child(1)>div>.pro_nicon02{display:inline-block;  width:21px;height: 21px;  background-image: url("../../../img/sectBox480/sectBox03_new.png"); background-repeat: no-repeat;}

  .pro_bg>ul>li:nth-child(2)> .pro_new{ margin: auto; width: 70%;height:21px;}
  .pro_bg>ul>li:nth-child(2)>div>.pro_nicon01{display:inline-block; width: 21px;height: 21px; background-image: url("../../../img/sectBox480/sectBox03_crown.png");  background-repeat: no-repeat; }
  .pro_bg>ul>li:nth-child(2)>div>.pro_nicon02{display:inline-block;  width:21px;height: 21px;  background-image: url("../../../img/sectBox480/sectBox03_new.png"); background-repeat: no-repeat;} 

  .pro_bg>ul>li:nth-child(3)> .pro_new{ margin: auto; width: 70%;height:21px;}
  .pro_bg>ul>li:nth-child(3)>div>.pro_nicon01{display:inline-block; width: 21px;height: 21px; background-image: url("../../../img/sectBox480/sectBox03_crown.png");  background-repeat: no-repeat; }
  .pro_bg>ul>li:nth-child(3)>div>.pro_nicon02{display:inline-block;  width:21px;height: 21px;  background-image: url("../../../img/sectBox480/sectBox03_new.png"); background-repeat: no-repeat;}

/* 제품 설명 */
  .pro_bg>ul>li:nth-child(1)> p{padding-top:300px;box-sizing: border-box; font-weight: bold; text-align: center;}
  .pro_bg>ul>li:nth-child(1)> span{display: block;font-weight: normal; text-align: center;}

  .pro_bg>ul>li:nth-child(2)> p{padding-top:300px;box-sizing: border-box; font-weight: bold; text-align: center;}
  .pro_bg>ul>li:nth-child(2)> span{display: block;font-weight: normal; text-align: center;}

 .pro_bg>ul>li:nth-child(3)> p{padding-top:300px;box-sizing: border-box; font-weight: bold; text-align: center;}
  .pro_bg>ul>li:nth-child(3)> span{display: block;font-weight: normal; text-align: center;}

/* 제품설명 끝 */



#sectBox04{width: 100%; height: auto ; box-sizing: border-box;background-color: #fff;}
.quickBox04{padding-top: 30px; box-sizing: border-box; width: 100%;height: auto; min-width: auto;background-color: #fff; }
.quick_ti{ width: 100%; height:auto;font-size: 22pt; font-weight: bold; text-align: center;}
.quick_ti>span{font-size: 12pt;font-weight: normal;text-align: center;}


#sectBox05{padding:20px 12px;box-sizing: border-box;  width: 100%; height: auto ; background-color: #ebebeb;}
  .banBox05{width: 100%; height: auto;} 
  .banBox05>ul{width: 100%;height: auto;}
  .pb_spe{margin-bottom: 20px; padding-bottom: 10px; box-sizing: border-box;  width: 100%; height: 175px; background-image: url("../../../img/sectBox768/sectBox_ban01.png"); background-repeat: no-repeat;background-position: 0 0;}
  .pb_spe>a{display: block; padding:40px 0 0 20px; box-sizing: border-box;  width: 100%;height: 100%; font-size: 22pt;font-weight: bold; color:#333;}
  .pb_spe>a>span{width: 100%;height: auto;font-size: 16pt;font-weight: bold; color:#333;}
  .pb_spe>a>img{width: 100%;height: auto;}
  .pb_thank{padding-bottom: 10px; box-sizing: border-box;  width: 100%; height: 175px; background-image: url("../../../img/sectBox768/sectBox05_ban02.png"); background-repeat: no-repeat;background-position: 0 0;}
  .pb_thank>a{display: block; padding:40px 0 0 20px; box-sizing: border-box; width: 100%;height: 100%; font-size: 24pt;font-weight: bold; color:#333;}
  .pb_thank>a>span{width: 100%;height: auto;font-size: 16pt;font-weight: bold; color:#333;}
/*.blank_box{margin: auto; width: 40%;height: 30px;  border-top: 1px solid #333;}*/

#footBox{width: 100%;height: 300px;box-sizing: border-box;background-color: #333;}
#sectBox06{padding:10px 0px 30px;box-sizing: border-box;  margin: auto;  width:100%; height: auto ; background-color: #ededed;}
.brand_box06{ margin: auto; width: 90%;height: 40px; background-color: #fff; clear:both;}
.brand_box06>dl{position: relative; float: left; width: 50%;height:100%;}
.brand_box06>dl:nth-of-type(1){float: left; background-color: #15418b;}
.brand_box06>dl:nth-of-type(2){float: left; background-color: #333; }
.brand_box06>dl>dt{; top width: 100%; height: 100%;text-transform: uppercase;line-height: 40px; text-indent: 1rem;}
.brand_box06>dl>dt>a{display: block; width: 100% ; height: 100%; color: #fff;}
.brand_box06>dl>dt>a:hover,
.brand_box06>dl>dt>a:focus{font-size: 18pt}

.brand_box06>dl>dd{position: absolute; left: 0; bottom:40px; width: 100%;height: auto; padding:0.5rem ; background-color: #fff; line-height: 30px;background-color: #fff; color: #fff;  border:  1px solid #ccc; box-sizing: border-box; text-indent: 10px; display: none;}
.brand_box06>dl>dd a{display: block; width: 100%; height: 100%;}
.brand_box06>dl>dd a:hover,
.brand_box06>dl>dd a:focus{background-color: #15418b; }


  


 .addBox{width: 100%;font-size: 12pt; color:#fff; height: 300px }